body {
    background-color: #131313;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    position: relative;
    min-height: 100vh;
    height: 100%;
}

body::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: url("back.png") center/cover no-repeat;
    filter: brightness(75%); /* opacity yerine daha temiz kontrol */
    z-index: -1;
    height: 100%;
}

.container {
    position: relative;
    margin-left: 0px;   /* dıştan soldan boşluk */
    margin-right: 0px;  /* dıştan sağdan boşluk */
    border: #fff 0px solid;
    height: 2100px;
}

.logo {
    position: absolute;
    left: 25px;
    top: 25px;
    border: #ffffff44 2px solid;
    border-radius: 6px;
    padding: 6px; /* kenarlık ile resim arasında boşluk */
    height: 75px;
}

.logo-text {
    color: white;
    position: absolute;
    left: 130px;
    top: 30px;
    font-size: 24px;
    font-weight: bold;
    opacity: 0.65;
}

.raw {
    position: absolute;
    left: 50%;
    top: 265px;
    transform: translate(-50%, -50%);
}

.leaderboardtext {
    position: absolute;
    left: 50%;
    top: 400px;
    transform: translate(-50%, -50%);
    font-size: 85px;
    font-weight: bold;
    opacity: 0.85;

    /* Shine efekti */
    background: linear-gradient(to right, yellow 0, #ffffff 10%, yellow 20%);
    background-size: 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 12s infinite linear;
}

/* Düzeltilmiş animasyon */
@keyframes shine {
  0%   { background-position: -200px; }
  100% { background-position: 200px; }
}

.moneys {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.25;
}

.leaderboardprize {
    position: absolute;
    left: 50%;
    top: 225px;
    transform: translate(-50%, -50%);
    font-size: 150px;
    font-weight: bold;
    opacity: 1;

    /* Shine efekti */
    background: linear-gradient(to right, #3af875 0, #ffffff 10%, #3af875 20%);
    background-size: 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 3s infinite linear;
}

.rewardinfo {
    position: absolute;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    top: 520px;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.35;
}

.bottomlbthing {
    position: relative;
    width: 800px;
    height: 1px;
    top: 570px;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Gradient ile ortadan ince, kenarlara doğru genişleyen görünüm */
    background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.548), transparent);
    
}
